<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Rippletone</span>
    <div class="collapse navbar-collapse d-flex justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let link of routes" class="nav-item">
          <button
            *ngIf="link.path === 'logout'"
            class="btn btn-danger"
            (click)="logout()"
          >
            logout
          </button>
          <a
            *ngIf="link.path !== 'logout'"
            [routerLink]="link.url"
            class="nav-link"
            >{{ link.path | titlecase }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
